<% include partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached segment">
        <div class="item">
            <img class="ui fluid image centred rounded" src="<%= blog.image %>" alt="Blog Image">

        </div>
        <div class="content">
            <p><%= blog.created.toDateString() %></p>
        </div>
        <div class="description">
            <p><%- blog.body %></p>
        </div>
        <a class="ui orange basic button" href="/blogs">Back to Blogs</a>
        <form id="form_button" action="/blogs/<%= blog._id %>?_method=DELETE" method="post">
            <button type="submit" class="ui red button basic">Delete</button>
        </form>
        <a class="ui floated basic purple button" href="/blogs/<%= blog._id %>/edit">
            Edit
        </a>
    </div>
    <% include partials/footer %>